<img class="logo-icon" src="../images/icon-32.png">
<div class="close-window"><button class="program-button program-square-button-small" title="Close" (click)="onCloseClick()">x</button></div>
<div class="title">
    Autochrome
</div>
<div class="content">
    <div class="browsers-tabs-holder">
        <label for="browsers-tabs-select">Chose a Tab</label>
        <select id="browsers-tabs-select" [(ngModel)]="browserTabValue">
            @for (tab of browserTabList(); track tab.id) {
                <option [ngValue]="tab.id">{{tab.label}}</option>
            }
        </select>
    </div>
    <div class="file-upload-with-options">
        <label class="custom-file-upload">
            <input id="file-selector" type="file" accept="application/json" multiple (change)="onFileChange($event)"/>
            Upload a program
        </label>
        <a id="a-set-current" class="a-set-current" (click)="onSetCurrentClick()">[set current]</a>
        <div class="input-label-option">
            <input id="auto-play" name="autoPlay" type="checkbox" [(ngModel)]="autoPlay" (ngModelChange)="onAutoPlayChange()">
            <label for="auto-play">Auto</label>
        </div>
        <div class="input-label-option">
            <input id="enable-connector" name="enableConnector" type="checkbox" [(ngModel)]="enableConnector" (ngModelChange)="onEnableConnectorChange()">
            <label for="enable-connector">Enable Connector</label>
        </div>
    </div>
    <div id="uploaded-programs-holder" class="uploaded-programs-holder">
        @for(item of programItems(); track item.programItem.extractedProgramContainer.programContainer.id) {
            <app-program-item [item]="item.programItem"></app-program-item>
        }
    </div>
</div>
<div class="action-button-holder">
    <button class="program-button action-button" (click)="onCreateProgramClick()">Create a Program</button>
</div>
