.content {
  margin: 10px;
  font: bold 14px "Roboto", monospace;

  input[type="file"] {
    display: none;
  }

  .tab-warning {
    color: #ffa64b;
  }

  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font: bold 14px "Roboto", monospace;
    background-color: beige;
  }

  .file-upload-with-options {
    margin-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .a-set-current {
      color: blue;
      font-size: 12px;
      cursor: pointer;
    }
  }

  .auto-program {
    margin-top: 10px;
  }

  .auto-program-text {
    width: 98%;
    height: 300px;
    white-space: nowrap;
    overflow: auto;
  }

  select {
    width: 100%;
    height: 30px;
    border: 1px solid #D3D3D3FF;
  }

  .browsers-tabs-holder {
    // padding-top: 10px;
  }

  .browsers-tabs-holder select {
    margin-top: 5px;
  }

  .browsers-tabs-holder label {
    padding-left: 1px;
  }

  .uploaded-programs-holder {
    background-color: #ffffff;
    margin-top: 10px;
    height: 300px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #D3D3D3FF;
  }
}
.action-button-holder {
  .action-button {
    height: 30px;
    min-width: 60px;
    margin-left: 10px;
  }
}
